ul.osx-dock li a {
  display: block;
  height: 50px;
  padding: 0 1px;
  margin: 0;
  -webkit-transition: 0.15s linear;
  -webkit-transition-property: -webkit-transform margin;
  -webkit-box-reflect: below 2px; -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
}

ul.osx-dock li a img {
  width: 48px;
}

ul.osx-dock li:hover {
  margin-left: 9px; margin-right: 9px;
  z-index: 200;
}

ul.osx-dock li:hover a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.5);
}

ul.osx-dock li.nearby {
  margin-left: 6px; margin-right: 6px;
  z-index: 100;
}

ul.osx-dock li.nearby a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.25);
}

ul.osx-dock li span {
 background: rgba(0,0,0,0.75);
 position: absolute;
 bottom: 80px;
 margin: 0 auto;
 display: none;
 width: auto;
 font-size: 11px;
 font-weight: bold;
 padding: 3px 6px;
 -webkit-border-radius: 6px;
 color: #fff;
}
 ul.osx-dock li:hover span {
 display: block;
}

.test {
  background:gray;
  width:32px;
  height:32px;
  cursor:url('https://www.freeiconspng.com/uploads/mac-cursor-6.png');
}
/*
* Styles for placeholders
*/
::-webkit-input-placeholder { /* Chrome, Opera */
  color: rgb(226,226,226);
}
:-moz-input-placeholder { /* Firefox 18- */
  color: rgb(226,266,266);
}
::-moz-input-placeholder { /* Firefox 19+ */
  color: rgb(226,226,226);
}
:-ms-input-placeholder { /* IE */
  color: rgb(226,226,226);
}
/***/
body {
  margin: 0;
  padding: 0;
  font: 300 1em 'Open Sans', sans-serif, arial;
  background: url(https://1.bp.blogspot.com/-oFkFHDbVzHw/Te8f_Ve6InI/AAAAAAAABpc/oxhCAayM80k/s1600/Mac+OS+X+Lion+Latest+Official+High+Quality+Wallpaper.jpg) no-repeat;
  background-size: auto;
}
svg {
  position: relative;
  margin-top: 7%;
  margin-left: 35%;
  display: block;
  width: 5em;
  height: auto;
  color: #900;
  opacity: .5;
}
input:hover {
  border: .1em solid rgb(193,193,193);
}
.window-top,
.window-buttons,
.username,
.password,
.login-btn {
  position: relative;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  margin: 10% auto;
  width: 15em;
  height: 20em;
  background: rgb(229,229,229);
  background: rgba(229,229,229,1);
  border-radius: .1875em;
}
.window-top {
  width: 100%;
  height: 1.5em;
  background: #e1e8ee; /* Old browsers */
  background: -moz-linear-gradient(top,  #e1e8ee 0%, #d8d8d8 24%, #bcbcbc 75%, #b6b6b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e8ee), color-stop(24%,#d8d8d8), color-stop(75%,#bcbcbc), color-stop(100%,#b6b6b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e1e8ee 0%,#d8d8d8 24%,#bcbcbc 75%,#b6b6b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e1e8ee 0%,#d8d8d8 24%,#bcbcbc 75%,#b6b6b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e1e8ee 0%,#d8d8d8 24%,#bcbcbc 75%,#b6b6b6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e1e8ee 0%,#d8d8d8 24%,#bcbcbc 75%,#b6b6b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e8ee', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
  border-top-left-radius: .1875em;
  border-top-right-radius: .1875em;
}
.window-top-btn {
  position: relative;
  float: left;
  margin: .5em .1em;
  width: .5em;
  height: .5em;
  -webkit-box-shadow: inset 0 0 .1em rgb(0,0,0);
          box-shadow: inset 0 0 .1em rgb(0,0,0);
  border: .1em solid rgba(134,130,127,.5);
  border-radius: 50%;
  transition: -webkit-box-shadow .1s ease-out;
  transition: box-shadow .1s ease-out;
}
.window-top-btn:hover {
  -webkit-box-shadow: inset 0 0 .4em rgb(0,0,0);
          box-shadow: inset 0 0 .4em rgb(0,0,0);
}
.window-top-btn:first-child {
  margin-left: .4em;
  background: #ffd3cc; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffd3cc 0%, #cf4a3a 25%, #cf4a3a 75%, #ffd3cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd3cc), color-stop(25%,#cf4a3a), color-stop(75%,#cf4a3a), color-stop(100%,#ffd3cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffd3cc 0%,#cf4a3a 25%,#cf4a3a 75%,#ffd3cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffd3cc 0%,#cf4a3a 25%,#cf4a3a 75%,#ffd3cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffd3cc 0%,#cf4a3a 25%,#cf4a3a 75%,#ffd3cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffd3cc 0%,#cf4a3a 25%,#cf4a3a 75%,#ffd3cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd3cc', endColorstr='#ffd3cc',GradientType=0 ); /* IE6-9 */
}
.window-top-btn:nth-child(2) {
  background: #fffbba; /* Old browsers */
  background: -moz-linear-gradient(top,  #fffbba 0%, #e8ba4e 25%, #e8ba4e 75%, #e8ba4e 75%, #fffbba 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffbba), color-stop(25%,#e8ba4e), color-stop(75%,#e8ba4e), color-stop(75%,#e8ba4e), color-stop(100%,#fffbba)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fffbba 0%,#e8ba4e 25%,#e8ba4e 75%,#e8ba4e 75%,#fffbba 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fffbba 0%,#e8ba4e 25%,#e8ba4e 75%,#e8ba4e 75%,#fffbba 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fffbba 0%,#e8ba4e 25%,#e8ba4e 75%,#e8ba4e 75%,#fffbba 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fffbba 0%,#e8ba4e 25%,#e8ba4e 75%,#e8ba4e 75%,#fffbba 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbba', endColorstr='#fffbba',GradientType=0 ); /* IE6-9 */
}
.window-top-btn:last-child {
  background: #e8ffd1; /* Old browsers */
  background: -moz-linear-gradient(top,  #e8ffd1 0%, #93be67 25%, #93be67 75%, #e8ffd1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8ffd1), color-stop(25%,#93be67), color-stop(75%,#93be67), color-stop(100%,#e8ffd1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e8ffd1 0%,#93be67 25%,#93be67 75%,#e8ffd1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e8ffd1 0%,#93be67 25%,#93be67 75%,#e8ffd1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e8ffd1 0%,#93be67 25%,#93be67 75%,#e8ffd1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e8ffd1 0%,#93be67 25%,#93be67 75%,#e8ffd1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8ffd1', endColorstr='#e8ffd1',GradientType=0 ); /* IE6-9 */
}
.window-text {
  margin-top: 5%;
  text-align: center;
  color: rgb(112,112,112);
}
.window-buttons {
  top: 3%;
  width: 75%;
  height: 40%;
  background: rgb(229,29,229);
  background: rgba(229,229,229,1);
}
.username,
.password {
  width: 13em;
  height: 2em;
  display: block;
  border: .1em solid rgb(221,221,221);
  border-radius: 3px;
  text-indent: .6em;
}
.password {
  top: -3%;
}
.login-btn {
  display: block;
  top: -7%;
  width: 13em;
  height: 2em;
  background: transparent;
  color: rgb(132,132,132);
  outline: rgb(132,132,132);
  border: .1em solid rgb(132,132,132);
  border-radius: 3px;
}
.login-btn:hover {
  color: rgb(170,170,170);
  outline: rgb(170,170,170);
  border-color: rgb(170,170,170);
}
.login-btn:active {
  color: rgb(200,200,200);
  outline: rgb(200,200,200);
  border-color: rgb(200,200,200);
}
